<br>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 d-none d-md-block sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
            
            
              <li class="nav-item">
                <a class="h4 nav-link" href="admin?sec=mine">
                  I miei sondaggi
                </a>
              </li>
              <li class="nav-item">
                <a class="h4 nav-link" href="admin?sec=closed">
                  Sondaggi chiusi
                </a>
              </li>
              <#if is_admin>
                <li class="nav-item">
                  <a class="h4 nav-link active" href="admin">
                    Richiedenti 
                  </a>
                </li>
             <#else>
             </#if>
              <li class="nav-item">
                <a class="h4 nav-link" href="admin?sec=info">
                  Modifica le mie informazioni
                </a>
              </li>
              <li class="nav-item">
                <a class="h4 nav-link" href="CreatePoll?k=0">
                    Crea un nuovo sondaggio
                </a>
              </li>
              <li class="nav-item">
                <a class="h4 nav-link" href="logout">
                    Logout
                </a>
              </li>
            </ul>
          </div>
        </nav>
    <#if (users??) && is_admin??>
        <div class="col-md-9">

            <div class="header bg-light">
                    <h4 class="h1 title">Tutti i nostri utenti che hanno richiesto l'utenza di tipo "Responsabile"</h4>
                </div>
            <div class="card">

                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <form method="POST" action="" id="form1">
                        <thead class="thead-dark">
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Set Responsible</th>
                        </thead>
                        <tbody>
                            <#list users as user>
                            <tr>
                                <td>${user.key}</td>
                                <td>${user.nameR}</td>
                                <td>${user.surnameR}</td>
                                <td>${user.email}</td>
                                <td><input type="checkbox" name="checkbox" value="${user.key}"/></td>
                            </tr>
                            </#list>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-dark" form="form1" value="Submit">Submit</button>
                       </form>
                </div>
            </div>
        </div>
    <#else>





<#if (polls?has_content || closed_polls?has_content)>

        <div class="col-md-9 my_polls">
            <#include 'mypolls_adminpanel.ftl.html'>
        </div>

</#if>


        
</#if>

