<section class="jumbotron text-center">
    <h1>${question.textq}</h1>
    <div class="container">
        <#if question.note?has_content><h4 class="lead text-muted">Note della domanda: ${question.note}</h4><#else><h4> Nessuna nota alla domanda.</h4></#if>
    <#if question.typeP?has_content><h4 class="lead text-muted">Tipo della domanda: ${question.typeP} </h4><#else><h4> Nessun tipo alla domanda.</h4></#if>
</div>
<br>
</section>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="th-sm">
            Id risposta
        </th>
        <th class="th-sm">
            Numero partecipante
        </th>
        <th class="th-sm">
            Testo risposta
        </th>
    </tr>
    </thead>
    <tbody>
    <#list answers as answer>
    <tr>
        <td>${answer.key}</td>
        <td>Utente ${answer?index}</td>
        <#if answer.textA?has_content><td>Rispostsa data: ${answer.textA}</td><#else><td> Risposta data: nessuna risposta</td></#if>

    </tr>
    </#list>
    </tbody>

</table>