<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div align="center">
    <#if ok!false>
    <div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
    </#if>
    </br>
        </br>

     <h3>
        <span style="font-family: Arial"><strong>Become a responsible user</strong></span>
     </h3>
          </br>
    </br>
  
   


    <form class="justify-content-center" action="BecomeResponsible" method="post">
    <div align="center">
     <div class="form-group">
         <label for="inputFirstName" class="col-sm-2 col-form-label"><strong>First Name</strong></label>
    <div class="form-group col-md-4">
        <input name="firstName" type="text" class="form-control" id="inputName" placeholder="First Name">
    </div>
     

  </div>
  <div class="form-group ">
    <label for="inputSurname" class="col-sm-2 col-form-label"><strong>Surname</strong></label>
    <div class="form-group col-md-4">
      <input name="surname" type="text" class="form-control" id="inputSurname" placeholder="Surname">
    </div>
  </div>
        

      <div class="form-group ">
          <label for="inputFiscalCode" class="col-sm-2 col-form-label"><strong>Fiscal Code</strong></label>
    <div class="form-group col-md-4">
      <input name="fiscalCode" type="text" class="form-control" id="inputFiscalCode" placeholder="Fiscal Code">
    </div>
  </div>
            

  <div class="form-group ">
      <label for="inputEmail" class="col-sm-2 col-form-label"><strong>Email</strong></label>
   <div class="form-group col-md-4">
      <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>

  <div class="form-group ">
      <label for="inputPassword" class="col-sm-2 col-form-label"><strong>Password</strong></label>
    <div class="form-group col-md-4">
      <input name="pwd" type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  
 
  <div class="form-group " align="center">
    <br/><br/>  
    <button type="submit" value="register" name="register"> register </button>
  </div>
    </div>
</form>
 
    </div>