<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<#if (questions?size>0)>
<br>
<div class="justify-content-center" align="center" style="font-family: sans-serif">
    <h1><b>${poll.title}</b></h1>
    <br>

    <p>${poll.apertureText}</p>
    <br>
    <br>
</div>
<form class="justify-content-center" action="Poll" method="post">
    <div class="container">

        <input type="hidden" name="n" value="${poll.key}"/>

        <#list questions as question>

        <div class="col mt-5">
            <div class="jumbotron jumbotron-fluid">
                <div class="text-center">
                    <#if (question.textq?has_content)>
                    <h5 class="card-title">${question.textq}</h5>
                    <#if (question.note?has_content)>
                    <h6> ${question.note}</h6>
                </#if>
                <div class="card-body">
                    <#if question.typeP == "short text" >
                    <#if question.answer?has_content>
                    <#list question.answer as answer>
                    <input name="${question.key}" class="form-control rounded-0"  placeholder="Rispondere qui" value="${answer}" <#if question.obbligated> required </#if>>
            </#list>
        </#if>
        <#elseif question.typeP == "long text">
        <#if question.answer?has_content>
        <#list question.answer as answer>
        <textarea name="${question.key}" class="form-control rounded-0"  placeholder="Rispondere qui" rows="6" <#if question.obbligated> required </#if> >${answer}</textarea >
</#list>
</#if>
<#elseif question.typeP == "numeric">
<#if question.answer?has_content>
<#list question.answer as answer>
<input type="number" name="${question.key}"  placeholder="Rispondere qui" value="${answer}" <#if question.obbligated> required </#if> >
</#list>
</#if>
<#elseif question.typeP == "date">
<!--input name="date" class="form-control" type="date"  id="date"-->

<div class="form-group"> <!-- Date input -->
    <label class="control-label">Data</label>
    <#if question.answer?has_content>
    <#list question.answer as answer>
    <input class="form-control"  name="${question.key}" placeholder="MM/DD/YYY" type="text" value="${answer}" <#if question.obbligated> required </#if>/>
</#list>
</#if>
</div>

<#elseif question.typeP == "single choice">
<#if (question.possibleAnswer?has_content)>

<div class="form-group">
    <#if question.answer?has_content>
    <#list question.answer as answer>
    <select class="form-control" name="${question.key}" <#if question.obbligated> required </#if>>
<option selected>${answer}</option>
<#list question.possibleAnswer?eval as key, value>
<#assign choice = key + " " + value >
<#if choice != answer>
<option > ${choice}</option>
<#if !question.obbligated && answer != "-nessuna selezionata-">
<option>-nessuna selezionata-</option>
</#if>
</#if>
</#list>
</select>
</#list>
</#if>
</div>

</#if>

<#elseif question.typeP == "multiple choice">

<#if (question.possibleAnswer?has_content)>
<#list question.possibleAnswer?eval as key, value>

<#assign choice = key + " " + value>
<div class="form-check">

    <input id="checkbox1" type="checkbox" name="${question.key}" value="${choice}"
    <#list question.answer as answer>
    <#if answer?has_content>
    <#if choice == answer>  checked </#if>
</#if>
</#list>>
<label>${choice}</label>


</div>


</#list>
</#if>
</#if>
</div>
</#if>
</div>
</div>
</div>
</#list>

</div>
<div class="form-group " align="center">
    <br/><br/>
    <div align="center">
        <p> <em><b>NOTA BENE:</b></em> le domande che presentano l'asterisco (*) sono obbligatorie </p>
        <br/><br/>
        <h6>${poll.closerText}</h6>
    </div>
    <br/><br/>
    <button type="submit" value="confirm" name="confirm"> Conferma </button>
    </br>
    </br>
</div>

</form>

</#if>



