<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
title, apertureText, closerText, typeP, url, activated, idR
-->
<div align="center">
    
    </br>
        </br>

     <h3>
        <span style="font-family: Arial"><strong>Crea Sondaggio</strong></span>
     </h3>
          </br>
  
   


    <form class="justify-content-center" action="CreatePoll" method="post">
    <div align="center">
     <div class="form-group ">
         <label for="title" class="col-sm-2 col-form-label"><strong>Titolo</strong></label>
    <div class="form-group col-md-4">
        <input name="title" type="text" class="form-control" id="title" placeholder="Title" value="${poll.title}">
    </div>


  </div>
            <input type="hidden" name="k" value="${poll.key}"/>
                        <input type="hidden" name="qk" value="0"/>

  <div class="form-group ">
    <label class="col-sm-2 col-form-label"><strong>Testo di Apertura</strong></label>
    <div class="form-group col-md-4">
        <textarea class="form-control" name="apertureText"  rows="3" >${poll.apertureText}</textarea>
    </div>
  </div>

      <div class="form-group ">
          <label class="col-sm-2 col-form-label"><strong>Testo di chiusura</strong></label>
    <div class="form-group col-md-4">
    <textarea class="form-control" name="closerText"  rows="3" >${poll.closerText}</textarea>
    </div>
  </div>


        <!-- da risolvere il problema, perché quando scarica il poll questa pagina lo setta direttamente open -->
  <div class="form-group">
      <label  class="col-sm-2 col-form-label"><strong>${poll.type}</strong></label>
        <div class="form-group col-md-4">

      <select class="form-control" name="type" id="Type">
      <option value="open" <#if (poll.type == "open" )> selected="selected"</#if>>pubblico</option>
      <option value="reserved" <#if (poll.type == "reserved")> selected="selected"</#if>>riservato</option>
      
    </select>
        </div>
  </div>

     <label class="col-sm-2 col-form-label"><strong>Url</strong></label>

        <div class="input-group mb-3 form-group col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text">localhost:8080/PollWeb/</span>

            </div>
            <input class="form-control" name="url" rows="3" value="${poll.url}"/>

        </div>
  
        
        <br/>
        
  <div class="form-group " align="center">
    <div class="form-group col-md-4">
              <button type="submit" class="btn btn-primary btn-lg btn-block" name="update" value="update">Aggiorna</button>

                     
    </div> 
  </div>
        <#if (poll.key!=0)>
        <div class="form-group " align="center">
    <div class="form-group col-md-4">
                     <a href="CreateQuestion?k=${poll.key}&qk=0" class="btn btn-primary btn-lg btn-block" >Aggiungi domande</a>

                     
    </div> 
  </div>
        <#else>
        </#if>
        <#if (numberQuestion?? && numberQuestion!=0)>
        <div class="form-group " align="center">
    <div class="form-group col-md-4">
                     <a href="Poll_Detail?k=${poll.key}" class="btn btn-primary btn-lg btn-block">Controlla domanda (${numberQuestion})</a>

                     
    </div> 
  </div>
        <#else>
        </#if>
        

        
    </div>
</form>
 
    </div>