<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


        <#if (polls?size>0)>
        <div class="container">
        <div class="row">
          <#list polls as poll>

          <div class="col-sm-3 mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">${poll.title} [${poll.type}]</h5>
        <p class="card-text">${poll.apertureText}</p>
        <a href="Poll?n=${poll.key}#item1" class="btn btn-primary">Mostra</a>
        
      </div>
    </div>
  </div>
               </#list>

</div>
        </div>
        </#if>
        
        
     
 