<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div align="center">
    
    </br>
        </br>

     <h3>
        <span style="font-family: Arial"><strong>Accedi</strong></span>
     </h3>
          </br>
  
    


<form class="justify-content-center"  method="post" action="Login" >
    <div align="center">
     

  <div class="form-group ">
    <label for="inputEmail" class="col-sm-2 col-form-label"><strong>Email</strong></label>
        <div class="form-group col-md-4">
          <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
  </div>

  <div class="form-group ">
    <label for="inputPassword" class="col-sm-2 col-form-label"><strong>Password</strong></label>
        <div class="form-group col-md-4">
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    <#if (login_error??)>
    <p > ${login_error}</p>
    </#if>

  </div>
  
 
  <div class="form-group " align="center">
    <div class="form-group col-md-4">
      <button type="submit" class="btn btn-primary" name="login" value="login">Accedi</button>
    </div> 
  </div>
    </div>
</form>

    </div>