    <#if polls?has_content>
    <br>
                <h4 class="h1 title">I miei sondaggi</h4>
            <div class="card ">
                <div class="content">
                    <div class="table-full-width">
                        <table class="table table-hover table-striped">
                            <thead class="thead-light">
                            <th scope="col">Titolo</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Url</th>
                            <th scope="col">Attivalo</th>

                            </thead>
                            <tbody>
                            <#list polls as poll>
                            <#if poll.activated>
                            <tr class="table-success" >
                                <td>${poll.title}</td>
                                <td>${poll.type}</td>
                                <td><a href="Poll_Detail?k=${poll.key}">${poll.url}</a></td>
                                <td>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="options" value="${poll.key}" checked> Attiva
                                        </label>
                                    </div>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary" id="deactivate">
                                            <input type="radio" name="options" value="${poll.key}"> Disattiva
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <#else>
                            <tr class="table-danger">
                                <td>${poll.title}</td>
                                <td>${poll.type}</td>
                                <td><a href="Poll_Detail?k=${poll.key}">${poll.url}</a></td>
                                <td>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary " id="activate">
                                            <input type="radio" name="options" value="${poll.key}"> Attiva
                                        </label>
                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="options" value="${poll.key}" checked> Disattiva
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            </#if>
                        </#list>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </#if>
    <br>
    <#if closed_polls?has_content>
<div class="col-md-9">
    <div class="header">
            <h4 class="h1 title">I miei sondaggi chiusi</h4>
        </div>
    <div class="card ">
        
        <div class="content">
            <div class="table-full-width">
                    <table class="table table-hover table-striped">


                        
                        <thead class="thead-light">
                        <th scope="col">Titolo</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Url</th>

                        </thead>
                        <tbody>
                        <#list closed_polls as closed_poll>

                        <tr class="table" >
                            <td>${closed_poll.title}</td>
                            <td>${closed_poll.type}</td>
                            <td><a href="Poll_Detail?k=${closed_poll.key}">${closed_poll.url}</a></td>
                        </tr>
                        </#list>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
    </#if>
</div>
    </div>
    <br>
