<div class="card ">
    <div class="header">
        <h4 class="title">I miei sondaggi</h4>
    </div>
    <div class="content">
        <div class="table-full-width">
            <table class="table table-hover table-striped">
                <caption class="bg-dark text-white"> Totale sondaggi: 4</caption>
                <thead class="thead-dark">
                <th scope="col">Titolo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Risposte</th>
                <th scope="col">Attivalo</th>

                </thead>
                <tbody>
                <#list polls as poll>
                <#if poll.activated>
                <tr class="table-success">
                    <td>${poll.title}</td>
                    <td>${poll.type}</td>
                    <td>80</td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" value="${poll.key}" checked> Attiva
                            </label>
                            <label class="btn btn-secondary" id="deactivate">
                                <input type="radio" name="options" value="${poll.key}"> Disattiva
                            </label>
                        </div>
                    </td>
                </tr>
                <#else>
                <tr class="table-danger">
                    <td>${poll.title}</td>
                    <td>${poll.type}</td>
                    <td>80</td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary " id="activate">
                                <input type="radio" name="options" value="${poll.key}"> Attiva
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" value="${poll.key}" checked> Disattiva
                            </label>
                        </div>
                    </td>
                </tr>
                </#if>
            </#list>
            </tbody>
            </table>
        </div>
    </div>
</div>