<section class="jumbotron text-center">
    <h1>${poll.title}</h1>
    <div class="container">
        <h4 class="lead text-muted">Testo di apertura: ${poll.apertureText}</h4>
        <h4 class="lead text-muted">Testo di chiusura: ${poll.closerText} </h4>

        <h4 class="lead text-muted">Url: ${poll.url} </h4>
        <#if poll.activated && poll.alreadyActivated>
            <form method="POST" action="" id="deactivate">
                <input type="hidden" name="purpose" value="deactivate">
                <button type="submit" class="btn btn-dark" form="deactivate" value="Submit">Disattiva</button>
            </form>
        <#elseif !poll.activated && !poll.alreadyActivated>
            <form method="POST" action="" id="activate">
                <input type="hidden" name="purpose" value="activate">
                <button type="submit" class="btn btn-primary" form="activate" value="Submit">Attiva</button>
            </form>
        <#elseif !poll.activated && poll.alreadyActivated>
            <p>Non puoi più attivare questo sondaggio!</p>
            <div class="btn-group">
                <a href="prova?k=${poll.key}" class="btn btn-sm btn-outline-secondary">Download CSV file</a>
            </div>
        <#else>
            <p>${poll.activated?string('yes', 'no')} e poi ${poll.alreadyActivated?string('yes', 'no')}</p>
        </#if>
    </div>
    <a href="InsertParticipant?k=${poll.key}" class="btn btn-primary">Insert participants</a>
        <a  href="OrdinateQuestion?k=${poll.key}" class="btn btn-primary">Order Question</a>
        <a  href="admin" class="btn btn-primary">Finish</a>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <#list questions as question>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">${question.textq}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="">${question.typeP}</p>
                            </div>
                            <#if !poll.alreadyActivated >
                            <div class="btn-group">
                                <a href="CreateQuestion?k=${poll.key}&qk=${question.key}" class="btn btn-sm btn-outline-secondary">Modifica</a>
                            </div>
                            <#else>
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Vedi le risposte ottenute</a>
                            </div>
                            </#if>
                        </div>
                    </div>
                </div>
            </div>
            </#list>
    <#if !poll.alreadyActivated >
    <div class="col-md-4 align-self-center">
                <div class="btn-group">
                    <a href="CreateQuestion?k=${poll.key}&qk=0" class="btn btn-sm btn-outline-secondary">Aggiungi una domanda</a>
                </div>
            </div>
    </#if>

</div>
    </div>
</div>
