<#if (questions?size>0)>

<div class="carousel">
    <div class="justify-content-center" align="center" style="font-family: sans-serif">
        <br/>



        <h1> <b>${poll.title}</b> </h1>
        <h3>${poll.apertureText}</h3>
        <form class="justify-content-center" action="Poll" method="post">
            <input type="hidden" name="n" value="${poll.key}"/>

            <#list questions as question>

            <div class="item slide-in col mt-5" id="item${question?index+1}">
                <div class="jumbotron jumbotronSlider jumbotron-fluid mt-5">
                    <div class="text-center">
                        <#if (question.textq?has_content)>

                        <h2 ><b> ${question?index+1}) </b>${question.textq} <#if question.obbligated><b>*</b> </#if> </h2>



                        <#if (question.note?has_content)>
                        <h5> ${question.note}</h5>
                    </#if>
                    <div class="card-body">
                        <#if question.typeP == "short text" >
                        <input name="${question.key}" class="form-control rounded-0"  placeholder="Rispondere qui" <#if question.obbligated> required </#if>>
                    <#elseif question.typeP == "long text">
                    <textarea name="${question.key}" class="form-control rounded-0"  placeholder="Rispondere qui" rows="6" <#if question.obbligated> required </#if>></textarea>
                <#elseif question.typeP == "numeric">
                <input type="number" name="${question.key}" class="form-control rounded-0" min="0"  placeholder="Rispondere qui" <#if question.obbligated> required </#if>>
            <#elseif question.typeP == "date">
            <!--input name="date" class="form-control" type="date"  id="date"-->

            <div class="form-group"> <!-- Date input -->
                <label class="control-label" >Data</label>
                <input class="form-control" name="${question.key}" placeholder="DD/MM/YYYY" type="text" <#if question.obbligated> required </#if>/>
    </div>

    <#elseif question.typeP == "single choice">
    <#if (question.possibleAnswer?has_content)>

    <div class="form-group">

        <select class="form-control"  name="${question.key}" <#if question.obbligated> required </#if> >
    <#if !(question.obbligated)>
    <option selected>-nessuna selezionata-</option>
</#if>
<#list question.possibleAnswer?eval as key, value>
<option >${key} ${value}</option>
</#list>
</select>
</div>

</#if>

<#elseif question.typeP == "multiple choice">
<#if (question.possibleAnswer?has_content)>

<#list question.possibleAnswer?eval as key, value>
<div class="row justify-content-end">

    <div class="col-8  form-inline ">
        <input type="checkbox" name="${question.key}" value="${key} ${value}" <#if question.obbligated> required="required" class="required_group"</#if>>
    <label >${key} ${value}</label>
</div>

</div>

</#list>
</#if>
</#if>
</div>
</#if>
</div>
<#if !(question_has_next)>
<h5><b>${poll.closerText}</b></h5>
<button type="submit" class="btn btn-sm btn-outline-secondary  " value="showResume" name="showResume"> Mostra risposte </button>
</#if>
</div>



</div>

</#list>


<div class="form-group " >
    <br/><br/>
    <div align="center">
        <p> <em><b>NOTA BENE:</b></em> le domande che presentano l'asterisco (*) sono obbligatorie </p>


    </div>

</div>
<div class="controls">

    <#list questions as question>
    <a href="#item${question?index+1}" class="btn">${question?index+1}</a>

</#list>

</form>
</div>
</div>
</#if>
