<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container">

</br>
</br>
<div class="container">
    <div class="jumbotron border border-dark">
        <form action="SummaryPollController" method="post">
        <div class="row border border-dark">
            <div class="col-md-8">

                <h3>${poll.title}</h3>
            </div>
        </div>
        <hr/>
            <input type="hidden" name="k" value="${poll.key}"/>
            <input type="hidden" name="qk" value="0"/>

            <div class="row border ">
            <div class="col-md-6 col-xs-8">
                <div class="row border border-dark">
                    <div class="col-md-6 col-xs-4 col-sm-4 col-6">
                        <p style="white-space: nowrap; font-weight: bold">Testo di Apertura:</p>
                    </div>
                    <div class="col-md-5 col-5 col-xs-3">
                        <span >${poll.apertureText}</span>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 border border-dark">
                <div class="row">

                    <div class="col-md-6 col-xs-4 col-sm-4 col-6">
                        <p style="white-space: nowrap; font-weight: bold">Testo di chiusura:</p>
                    </div>
                    <div class="col-md-5 col-5 col-xs-3">
                        <span >${poll.apertureText}</span>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 border border-dark">
                <div class="row">

                    <div class="col-md-6 col-xs-4 col-sm-4 col-6">
                        <p style="font-weight: bold">Tipo:</p>
                    </div>
                    <div class="col-md-5 col-5 col-xs-3">
                        <span >${poll.type}</span>

                    </div>

                </div>
            </div>
            <div class="col-md-6 col-xs-6 border border-dark">
                <div class="row">

                    <div class="col-md-6 col-xs-4 col-sm-4 col-6">
                        <p style="white-space: nowrap; font-weight: bold">Url:</p>
                    </div>
                    <div class="col-md-5 col-5 col-xs-3">
                        <span >${poll.url}</span>
                    </div>
                </div>
            </div>
        </div>

<br/>
        <a href="CreatePoll?k=${poll.key}"  class="btn btn-primary">Modifica</a>
            <a href="CreateQuestion?k=${poll.key}&qk=0" class="btn btn-primary ">Crea un'altra domanda</a>
             <#if (poll.type == "reserved" )>
            <a href="InsertParticipant?k=${poll.key}" class="btn btn-primary">Inserisci partecipanti</a>
        </#if>
        <a  href="OrdinateQuestion?k=${poll.key}" class="btn btn-primary">Riordina le domande</a>
        <a  href="admin" class="btn btn-primary">Finisci</a>
        </form>
    </div>
</div>


<div id="QuestionPage">
    <#include 'pollProva.ftl.html'>
</div>

</div>

