<section class="jumbotron text-center">
    <h1>${poll.title}</h1>
    <div class="container">
        <h4 class="lead text-muted">Testo di apertura: ${poll.apertureText}</h4>
        <h4 class="lead text-muted">Testo di chiusura: ${poll.closerText} </h4>

        <h4 class="lead text-muted">Url: ${poll.url} </h4>
        <#if poll.activated && poll.alreadyActivated>
            <form method="POST" action="" id="deactivate">
                <input type="hidden" name="purpose" value="deactivate">
                <button type="submit" class="btn btn-dark" form="deactivate" value="Submit">Disattiva</button>
            </form>
        <#elseif !poll.activated && !poll.alreadyActivated>
            <form method="POST" action="" id="activate">
                <input type="hidden" name="purpose" value="activate">
                <button type="submit" class="btn btn-primary" form="activate" value="Submit">Attiva</button>
            </form>
        <br>
        <div class="btn-group">
        <a href="CreatePoll?k=${poll.key}"  class="btn btn-primary">Modifica</a>
        </div>
        <#if poll.type == "reserved">
        <div class="btn-group">
        <a href="InsertParticipant?k=${poll.key}" class="btn btn-primary">Inserisci partecipante</a>
    </div>   
        </#if>
    <div class="btn-group">
        <a href="OrdinateQuestion?k=${poll.key}" class="btn btn-primary">Ordina domande</a>
    </div>
        <#elseif !poll.activated && poll.alreadyActivated>
            <p>Non puoi più attivare questo sondaggio!</p>
            <div class="btn-group">
                <a href="prova?k=${poll.key}" class="btn btn-sm btn-outline-secondary">Scarica CSV file</a>
            </div>
        <#else>
            <p>${poll.activated?string('yes', 'no')} e poi ${poll.alreadyActivated?string('yes', 'no')}</p>
        </#if>
    </div>
    <br>
    
</section>
<div id="QuestionPage">
    <#include 'questions.ftl.html'>
</div>