<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <#list questions as question>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">${question.textq}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="">${question.typeP}</p>
                            </div>
                            <#if !poll.alreadyActivated >
                            <div class="btn-group">
                                <a href="CreateQuestion?k=${poll.key}&qk=${question.key}" class="btn btn-sm btn-outline-secondary">Modifica</a>
                            </div>
                            <div class="btn-group">
                                <button name="delete" data-value="${question.key}" value="${poll.key}" class="btn btn-sm btn-outline-secondary">Elimina</button>
                            </div>
                            <#else>
                            <div class="btn-group">
                                <a href="ShowAnswer?q=${question.key}" class="btn btn-sm btn-outline-secondary">Vedi le risposte ottenute</a>
                            </div>
                        </#if>
                    </div>
                </div>
            </div>
        </div>
    </#list>
    <#if !poll.alreadyActivated >
    <div class="col-md-4 align-self-center">
        <div class="btn-group">
            <a href="CreateQuestion?k=${poll.key}&qk=0" class="btn btn-sm btn-outline-secondary">Aggiungi una domanda</a>
        </div>
    </div>
</#if>

</div>
</div>
</div>