<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>pollweb.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservedPollList</servlet-name>
        <servlet-class>pollweb.controller.ReservedPollList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenPollList</servlet-name>
        <servlet-class>pollweb.controller.OpenPollList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Poll</servlet-name>
        <servlet-class>pollweb.controller.Poll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BecomeResponsible</servlet-name>
        <servlet-class>pollweb.controller.BecomeResponsible</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>pollweb.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>pollweb.controller.AdminController</servlet-class>


        <servlet-name>Admin</servlet-name>
        <servlet-class>pollweb.controller.AdminController</servlet-class>

        <servlet-name>ResponsiblePage</servlet-name>
        <servlet-class>pollweb.controller.ResponsiblePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ReservedPollList</servlet-name>
        <url-pattern>/ReservedPollList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenPollList</servlet-name>
        <url-pattern>/OpenPollList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Poll</servlet-name>
        <url-pattern>/Poll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BecomeResponsible</servlet-name>
        <url-pattern>/BecomeResponsible</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>


        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>

        <servlet-name>ResponsiblePage</servlet-name>
        <url-pattern>/ResponsiblePage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/PollWeb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <!-- 
    <welcome-file-list>
        <welcome-file>Homepage.html</welcome-file> 
    </welcome-file-list>
    in questo modo inserisco la pagina come iniziale e senza caricamento servlets
  -->
</web-app>
