body.dragging, body.dragging * {
cursor: move !important;
}

.dragged {
position: absolute;
opacity: 0.5;
z-index: 2000;
}

ol.example li.placeholder {
position: relative;
}
ol.example li.placeholder:before {
position: absolute;
}

.prova:hover {
    background-color: yellow;
}
body {
  display: block;
}
.span3:focus ~ .alert {
  display: none;
}
.span2:focus ~ .alert {
  display: block;
}
.alert{display:none;}