/* Base styling*/

a {
  text-decoration: none !important;
}

.popover__title {
  text-decoration: none !important;;
  text-align: center !important;;
}

.popover__wrapper {
  position: relative !important;;
  margin-top: 1.5rem !important;;
  display: inline-block !important;;
}
.popover__content {
  opacity: 0 !important;;
  visibility: hidden !important;;
  position: absolute !important;;
 
}
.popover__content:before {
  position: absolute !important;;
  z-index: -1 !important;;
  content: "" !important;;
  
}
.popover__wrapper:hover .popover__content {
  z-index: 10 !important;;
  opacity: 1 !important;;
  visibility: visible !important;;
      position: absolute;
    left: auto;
    right: 0%;
}
.popover__message {
  text-align: center;
}


@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}